

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #ffeedf;
    
}

button {
    left: 50%;
    width: 240px;
    height: 240px;
    border-radius: 240px;
    line-height: 0;
    padding: 0;
    padding-bottom:20px;
    border: 0;
    margin: 0;
    margin-left: 45%;
    

    background-color: #1C5A4E;
    color:  #ffeedf;
    font-family: 'Montserrat', sans-serif; 
    font-size: 200px;
    font-weight: lighter;
}
